.header .img-container{
    background: linear-gradient(180deg, rgba(255, 92, 0, 0.49) 0%, rgba(255, 142, 0, 0.49) 46.88%, rgba(255, 199, 0, 0.49) 97.4%);
    overflow: hidden;
    position: absolute;
    height: 525px;
    z-index: -1;
}
.header .header-bg{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100%;
    position: relative;
    z-index: -2;
}

.top {
    position: relative;
    width: 100%;
    top: 110px;
    margin-bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    z-index: 999;
    padding: 40px;
    justify-content: center;
}

.header .logo{
    width: 128px;
}

.link {
    text-decoration: none;
    color: black;
    display: inline;
    position: relative;
    overflow: hidden;
    opacity: .9999;
    margin-right: 40px;
}
.link:after {
    bottom: -10px;
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    background: #D52E00;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.link:hover:after,
.link:focus:after,
.link:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.topLeft,
.topRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topList {
    /*text-transform: uppercase;*/
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
}

.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

@media (max-width: 400px) {

    .topListItem{
        font-size: 13px;
    }
    .link:after{
        top:17px;
        height: 1px;
    }

}
